#container {
  width: 40%;
  height: 60%;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  min-width: 300px;
  max-width: 700px;
  background-color: rgb(230, 240, 237);
  min-height: 400px;
  max-height: 600px;
  margin: auto;
}
#display {
  height: 5vh;
  width: 100%;
}
#result {
  height: 40%;
  width: 99%;
  /* margin-top: 12px; */
  margin: auto;
  margin-top: 3px;
  color: rgb(3, 3, 38);
  font-size: 3.85rem;
  font-weight: 700;
  /* border: 1px solid black; */
  border-radius: 5px;
  text-align: right;
  overflow: auto;
}
#btn-container {
  display: flex;
  flex-direction: row;
  /* border-top: 1px solid black; */
  /* border-radius: 15px 15px 0px 0px; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.btn {
  height: auto;
  width: 24.47%;
  border: 1px solid black;
  /* border-radius: 1px; */
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 20px 0px 20px 0px;
  margin-top: 3px;
  font-family: "Gill Sans", sans-serif;
  font-weight: 600;
  background-color: rgb(191, 213, 191);
}
.btn:hover {
  color: rgb(114, 25, 25);
  background-color: rgb(204, 163, 129);
  transition-duration: 0.5s;
}
.zero {
  width: 49.47%;
}
.nonNumber {
  background-color: rgb(218, 105, 52);
}
.margin-btm {
  margin-bottom: 3px;
}
